body {
    margin: 0;
    padding: 0;
    background: url(lluvia.jpe);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}



<h1 style='color:steelblue;'> Jerson Solis</h1>

<style>
            #spanId{
                font-size: 18px;
            }
        </style

        <style>
        #thirdDiv {
        height:600px;
        width:500px;
        background-color:brown;
        padding: 50px;
        border: 5px solid black;
        }

    </style>